.workTeaser {}
.workTeaser__heading {}
.workTeaser__items {
	display: flex;
	font-size: 0;
	flex-flow: row wrap;
	justify-content: center;
}


.workTeaserItem {
	overflow: hidden;
	position: relative;
	font-size: 1.00rem;
	@media $not-small { width: calc(100%/5); }
	@media $small { width: calc(100%/2); }
	@media $extra-small { width: calc(100%/1); }
}
.workTeaserItem__wrapper {}
.workTeaserItem__image {}
.workTeaserItem__overlay {
	display: flex;
	height: 100%;
	position: absolute;
	top: 0;left: 0;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: rgba($black, 0.50);
}
.workTeaserItem__caption {
	color: $white;
	font-size: 1.50em;
}