html {
	font-size: 16px;
}

.page {}
.page__wrapper {
	display: flex;
	min-height: 100vh;
	padding-top: 75px;
	flex-direction: column;
	@media $small { padding-top: 60px; }
}
.page__content {
	flex: 1;
}
.constraint {
	@mixin constrain;
}
.constraint--small {
	max-width: 900px;
}

.button {
	display: inline-block;
	padding: 15px 25px;
	background-color: $blue;
	color: $white;
	font-size: 1.20rem;
	transition: all 300ms ease;
}
.button:hover,
.button:focus {
	background-color: $white;
	color: $blue;
}
.button--inverted {
	border: 2px solid $blue;
	background-color: $white;
	color: $blue;
}
.button--inverted:hover,
.button--inverted:focus {
	background-color: $blue;
	color: $white;
}