* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
a, em, h1, h2, h3, h4, h5, span, strong {
	display: inline-block;
}
a, address {
	color: inherit;
	font-size: inherit;
	font-style: inherit;
	text-decoration: inherit;
}
a, button {
	cursor: pointer;
}
button {
	background-color: transparent;
	border: none;
	border-radius: 0;
	outline: none;
}
img {
	max-height: 100%;
	max-width: 100%;
}
ul > li {
	list-style: none;
}