{% extends 'base.html' %}

{% block content %}
	<div class="lory">
		<div class="lory__frame">
			<ul class="lory__slides">
				{% for role in ['creative','digital','media','strategy','production'] %}
					<li class="lory__slide quinqueRole">
						<h2 class="quinqueRole__heading">
							<small class="">More than a</small>
							<span class="">{{ role | title }} <i data-kern="agency">A</i>gency</span>
						</h2>
						<button class="quinqueRole__cta">See More</button>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}