{% extends 'base.html' %}

{% block content %}
	<div class="quinqueSlider">
		<div class="quinqueSlider__frame">
			<ul class="quinqueSlider__track">
				{% for role in ['creative','digital','media','strategy','production'] %}
					<li class="quinqueRole" data-role="{{ role }}">
						<div class="quinqueRole__wrapper">
							<h2 class="quinqueRole__heading">
								<small>More than a</small>
								<span>{{ role | title }} <i data-kern="agency">A</i>gency</span>
							</h2>
							<button class="quinqueRole__button">See More</button>
						</div>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
{% endblock %}